core/build/
core/out/
out
.idea
*.class
.gradle/

*.iml
core/assets/items/desktop.ini
.gradle/4.6/fileHashes/fileHashes.lock
.gradle/4.6/fileHashes/fileHashes.lock
core/bin/

desktop/bin

core/.project
desktop/.project
