core/build/
core/out/
out
.idea
*.class
.gradle/
.gradle/4.6/fileHashes/fileHashes.lock
core/assets/settings/userShortcuts.json
core/assets/settings/userSettings.json
.gradle/4.6/fileHashes/fileHashes.lock
